---
layout: presentation
---

{% for post in site.posts reversed %}
	{% include slide.html %}
	<div class="page-break"></div>
{% endfor %}
{% unless site.simple-slideshow %}
{% if site.overview %}

        <div class="eldiv">
        
        <h1 class="title">¡Ayudá a la ciencia compartiendo!</h1>
        <a  href="https://www.facebook.com/LIAA.UBA/" class="fa fa-facebook"></a><br>
      
        <a  href="https://twitter.com/liaa_icc" class="fa fa-twitter"></a>

        </div>
<section id="overview" class="step" {% for attr in site.overview-data %} data-{{attr[0]}}="{{attr[1]}}"{% endfor %}></section>
{% endif %}
{% endunless %}
